.open ~ .box, .open ~ .overlay {
  display: block !important;
}

.close ~ .box, .close ~ .overlay {
  display: none !important;
}

/*this class to create circles around the winner */
.circle {
  position: absolute;
  width: 470px;
  height: 470px;
  background-color: rgba(48, 55, 93, 0.2901960784);
  z-index: -4;
  border-radius: 50%;
  transition-duration: 1.4s;
}
.circle::before, .circle::after {
  position: absolute;
  content: "";
  border-radius: 50%;
}
.circle::before {
  background-color: rgba(48, 55, 93, 0.4039215686);
  z-index: -7;
  width: 380px;
  height: 380px;
}
.circle::after {
  background-color: #30375d;
  z-index: -6;
  width: 300px;
  height: 300px;
}

/* this class to fix the computer choice design  */
.fixing {
  top: 76px !important;
  width: initial !important;
  height: initial !important;
  background-color: initial !important;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  text-wrap: nowrap;
}

ul {
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  padding-top: 10px;
  background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
.game .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.572);
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}
.game header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  border: 2px solid rgba(255, 255, 255, 0.324);
  border-radius: 10px;
  margin: 30px auto;
}
.game header .score {
  background-color: white;
  padding: 10px 40px;
  text-align: center;
  border-radius: 5px;
  color: hsl(229, 64%, 46%);
  letter-spacing: 2px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
}
.game header .score span {
  display: block;
  font-size: 50px;
  color: hsl(229, 25%, 31%);
  letter-spacing: initial;
  font-weight: bold;
  margin-top: -4px;
}
.game .paper-linear {
  position: absolute;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  z-index: -3;
  box-shadow: 0px 5px 0px 1px #2b43c0;
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.game .scissors-linear {
  position: absolute;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  z-index: -3;
  box-shadow: 0px 5px 0px 1px #c36d1c;
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.game .rock-linear {
  position: absolute;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  z-index: -3;
  box-shadow: 0px 5px 0px 1px #a11530;
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
.game .playground .comapring .computer-choice .the-choice .white, .game .playground .comapring .person-choice .the-choice .white, .game .playground .rock .white, .game .playground .scissors .white, .game .playground .paper .white, .game .circle, .game .circle::before, .game .circle::after, .game .paper-linear, .game .scissors-linear, .game .rock-linear {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game .playground {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  transition-duration: 0.5s;
}
.game .playground .traingle {
  position: relative;
  margin-top: 100px;
}
.game .playground .paper {
  cursor: pointer;
  left: 0;
  top: 60px;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  width: 93px;
  z-index: 1;
  padding-right: 80px;
}
.game .playground .paper img {
  width: 50px;
}
.game .playground .paper .white {
  position: absolute;
  width: 125px;
  height: 125px;
  background: white;
  border-radius: 50%;
  z-index: -2;
  box-shadow: inset 0px 7px 1px 0px rgba(195, 191, 207, 0.7019607843);
}
.game .playground .scissors {
  cursor: pointer;
  padding: 21px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 1;
}
.game .playground .scissors img {
  width: 50px;
}
.game .playground .scissors .white {
  position: absolute;
  width: 125px;
  height: 125px;
  background: white;
  border-radius: 50%;
  z-index: -2;
  box-shadow: inset 0px 7px 1px 0px rgba(195, 191, 207, 0.7019607843);
}
.game .playground .rock {
  cursor: pointer;
  padding: 26px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.game .playground .rock img {
  width: 50px;
}
.game .playground .rock .white {
  position: absolute;
  width: 125px;
  height: 125px;
  background: white;
  border-radius: 50%;
  z-index: -2;
  box-shadow: inset 0px 7px 1px 0px rgba(195, 191, 207, 0.7019607843);
}
.game .playground .comapring {
  display: flex;
  width: 800px;
  justify-content: space-around;
  color: white;
  letter-spacing: 2.8px;
  margin-top: 50px;
  gap: 60px;
  font-size: 20px;
  transition-duration: 1s;
}
.game .playground .comapring .rock-linear {
  width: 230px;
  height: 230px;
}
.game .playground .comapring .paper-linear {
  width: 230px;
  height: 230px;
}
.game .playground .comapring .scissors-linear {
  width: 230px;
  height: 230px;
}
.game .playground .comapring img {
  width: 70px;
  height: 80px;
}
.game .playground .comapring .the-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.game .playground .comapring .person-choice {
  margin-left: 25px;
}
.game .playground .comapring .person-choice .circle {
  opacity: 0;
}
.game .playground .comapring .person-choice > span {
  position: relative;
  z-index: 10;
}
.game .playground .comapring .person-choice .the-choice {
  position: relative;
  top: 80px;
  z-index: 1;
}
.game .playground .comapring .person-choice .the-choice .white {
  position: absolute;
  width: 125px;
  height: 125px;
  background: white;
  border-radius: 50%;
  z-index: -2;
  box-shadow: inset 0px 7px 1px 0px rgba(195, 191, 207, 0.7019607843);
  width: 175px;
  height: 175px;
}
.game .playground .comapring .computer-choice .circle {
  opacity: 0;
}
.game .playground .comapring .computer-choice > span {
  position: relative;
  z-index: 10;
}
.game .playground .comapring .computer-choice .rock-linear {
  width: 230px;
  height: 230px;
}
.game .playground .comapring .computer-choice .paper-linear {
  width: 230px;
  height: 230px;
}
.game .playground .comapring .computer-choice .scissors-linear {
  width: 230px;
  height: 230px;
}
.game .playground .comapring .computer-choice .the-choice {
  position: relative;
  top: 45px;
  z-index: 1;
  width: 160px;
  height: 160px;
  background-color: #1f2c51;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.game .playground .comapring .computer-choice .the-choice .white {
  position: absolute;
  width: 125px;
  height: 125px;
  background: white;
  border-radius: 50%;
  z-index: -2;
  box-shadow: inset 0px 7px 1px 0px rgba(195, 191, 207, 0.7019607843);
  width: 175px;
  height: 175px;
}
.game .playground .comapring .result {
  position: relative;
  z-index: 10;
  width: 0;
  overflow: hidden;
  margin-left: 0;
  margin-top: 150px;
  text-align: center;
  transition-duration: 1s;
}
.game .playground .comapring .result .case {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.game .playground .comapring .result .play {
  color: hsl(229, 25%, 31%);
  background-color: white;
  padding: 15px 25px;
  border-radius: 8px;
  margin-top: 9px;
  cursor: pointer;
  letter-spacing: 0.8px;
}
.game .rules {
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 25px;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 2px solid rgba(255, 255, 255, 0.517);
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1.7px;
}
.game .box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px;
  color: hsl(229, 25%, 31%);
  z-index: 10;
  display: none;
  cursor: auto;
}
.game .box > img {
  width: 250px;
}
.game .box .exit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.game .box .exit-box .exit {
  cursor: pointer;
}

/*animations section */
@keyframes circles {
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */